.title {
  font-size: 25px;
  font-family: sans-serif;
  text-align: center;
  text-shadow: 4px 2px 6px #00000057;
  padding: 1rem;
}

.red {
  color: red;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

p {
  text-align: center;
}

.image-container > img {
  width: 250px;
  height: 250px;
  margin: 10px;
}
